/* applying text related properties */

p{
    background-color: goldenrod;
    height: 50px;
    width: 200px;
}

#p1{
    text-align: left;
    text-decoration: line-through;
    text-decoration-color: blue;
    text-decoration-style: dashed;

}
#p2{
    text-align: right;
    text-decoration: overline;
    text-decoration-color: red;
    text-decoration-style: dotted;
}
#p3{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-style: double;
}
#p4{
    font-size: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#p5{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
#p6{
    font-size: 30px;
    font-weight: lighter;
    /* applying google fonts */
    font-family: "Jacquard 24", system-ui;
}